$background-color--primary: #eeeeee;

$text-color--primary: #000000;
$text-color--secondary: #666666;

$color-corporate-red: #fb565a;
$color-corporate-red--hover: #e74246;
$color-corporate-red--active: #d7373b;

$color-corporate-green: #00ca74;
$color-corporate-green--hover: #00bc6a;
$color-corporate-green--active: #00aa62;

$color-corporate-yellow: #efc849;
$color-corporate-yellow--hover: #eab534;
$color-corporate-yellow--active: #e5a722;

$color-corporate-grey: #eeeeee;
$color-corporate-grey--hover: #dfdfdf;
$color-corporate-grey--active: #d5d5d5;
